*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


 nav{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46, 45, 45);
   
}

nav h1{
    font-size: 2.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1vw;
    color: white;
}

nav input {
padding: 10px 22px;
border: none;
border-radius: 10px;

margin-right: 1vw;


}

button{
    padding: 10px 15px;
border: none;
border-radius: 10px;
margin-right: 2vw;
transition: .1s;
background-color: salmon;

}
main{
    padding: 1vw;
    margin: 1vw;
}

.recipe-container h1{
    font-size: 4vw;
    text-align: center;
    text-transform: capitalize;

}

/* Main section */
.recipe-container{
   text-align: center;
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   grid-gap: 2vw;
   width: 80%;
   margin: 10px auto;
   padding: 20px;
   font-weight: 100;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 20px;
}
.recipe h3{
    font-size: 25px;
    font-family: sans-serif;
    
    
}
    .recipe-name{
text-align: center;
font-size: 35px;
    }

    .recipe-instruction{
        line-height: 30px;
    word-wrap: break-word;
    }


.recipe p {
    font-size: 15px;
    font-family: sans-serif;
}

.recipe img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 300px;

}

.recipe:hover{
    transform: scale(1.02);
    transition: .2s ease-in-out ;

}
.recipe{
    background-color:rgb(239, 235, 235);
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    line-height: 2vw;
    max-width: 345px;
    box-shadow: grey 5px 5px  5px 2px;
    overflow: hidden;
    transition: .2s all ease ;
    margin: 7px;

}


.recipe button{
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
    border-radius: 5px;
    background-color: ghostwhite;
    margin: 18px auto;
    background-color:salmon;
    color: black;
    cursor: pointer;
 
}
.recipe-close-btn{
    background-color: black;
    color: white;
}
.recipe-detail{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
padding: 10px;
    transform: translate(-50%,-50%);
    background-color: antiquewhite;
    height: 60%;
    width: 40%;
    -webkit-transform: translate(-50%,-50%);
    overflow-y: scroll;
    transition: all ease .99s;
    background-color: gainsboro;
    border-radius: 10px;
   font-weight: 100;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(33, 32, 32);
   box-shadow: 5px 5px 5px 1px;

}

.recipe button:hover {
    background-color: rgb(224, 96, 81);
}
@media screen and ( max-width :600px) 
{
    header nav{
        flex-direction: column;
        
    }
    nav input{
    margin: 2vw;
    width: 60%;
    padding: 7px 8px;
    font-weight: 100;

    }
    .recipe{
    margin: 10px;

    }
    
    nav button{
        margin: 2vw;
        padding: 7px 8px;
        font-weight: 100;
    }
    .recipe-container h1{
        padding: 1vw;
        font-size: 5.8vh;
        margin: 2vw;

    }

    .recipe h3{
        font-size: 3.5vw;
         padding: 8px;
        /* margin: 5px; */
        text-align: center;
        
     }
    .recipe p{
        font-size: 3vw;
        padding: 5px;
font-family: 300;
    }


    .recipe img{
        height: 260px;
    }

    .recipe button{
        padding: 7px 15px;
        font-size: 14px;
    }
    /* .recipe-detail{
        height: 200px;
        width: 400px;
        position: fixed;
    } */

    .recipe-name{
        font-size: 4.5vw;
        padding: 10px;
    }
    .recipe-close-btn{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .recipe-instruction{
        font-size: 3vw;
        line-height: normal;
    }
   
    .list-ingredients{
        font-size: 14px;
    }

}










nav button:hover{
    background-color:  gainsboro;
    transition: .3s;
}